@import "bootstrap/bootstrap.less";

@body-bg: #253237;
@container-desktop: ((1040px + @grid-gutter-width));

@font-family-base: 'Cabin', sans-serif;

.header {
    height: 180px;
    text-align: center;
}

.padded {
   padding-top: 90px;
}

.blue-paragraph {
  color: #23b8eb;
  font-size: 60px;
}

.grey-paragraph {
  font-size: 38px;
  color: #79868b;
}

.grey-paragraph-upper {
  .grey-paragraph();
  vertical-align: top;
}

.white-paragraph {
  color: white;
  font-size: 38px;
}
