---
layout: default
title: Welcome
---
<div class="section intro">
  <p>The UK's first community conference about software containers! One day, London-based, affordable and featuring talks on all aspects of software virtualisation.</p>
  <p id=ticket-bar>
    <a href="#tickets" id=ticket-button>
      Grab a ticket!
    </a>
  </p>
</div>
<div class="section where">
  <div class="page-header">
      <span class="image-where"></span>
      <h2>Where?</h2>
  </div>
  <div class="row map">
     <div class="col-md-8 onlypc">
       <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2482.2285915040225!2d-0.08003699999999998!3d51.527367!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x20694e9b38ebbe9!2sShoreditch+Village+Hall!5e0!3m2!1sen!2suk!4v1402431935741" frameborder="0" style="border:0"></iframe>
     </div>
     <div class="col-md-4 col-sm-12 col-xs-12 map-details">
         <p class="gray">The Village Hall</p>
         <p class="gray">Shoreditch Works</p>
         <p>33 Hoxton Square,</p>
         <p>London,</p>
         <p class="gray">N1 6NN</p>
     </div>
  </div>
  <div class="row directions">
     <div class="col-md-12">
      <h5 class="onlypc">How to get there</h5>
      <p class="gray"><span class="black">Tube</span>: Old Street Station</p>
      <p class="gray"><span class="black">Bus</span>: 55, 243, N35, N55</p>
      <p class="gray"><span class="black">Overground</span>: Shoreditch High Street</p>
    </div>
  </div>
</div>
<div class="section when">
  <div class="page-header">
      <span class="image-when"></span>
      <h2>When?</h2>
  </div>
  <div class="row">
      <div class="col-md-12">
          <p class="black">12th September 2014</p>
          <p class="gray">9:30 - 18:00</p>
      </div>
  </div>
</div>
<div class="section who">
  <div class="page-header">
      <span class="image-who"></span>
      <h2>Who?</h2>
  </div>
  {% assign slice_set = site.data.speakers | each_slice(3) %}
  {% for slice in slice_set %}
  <div class="row">
      {% for talk in slice %}
      <div class="col-md-3">
          <div class="speaker">
              <a href="{{ talk.url}}"><img width="128" height="128" src="{{ talk.image_url }}" alt="{{ talk.speaker_name }}" class="img-circle" /></a>
              <p><a href="{{ talk.url}}">{{ talk.speaker_name }}</a></p>
          </div>
      </div>
      {% endfor %}
  </div>
  {% endfor %}
</div>
<div class="section schedule">
  <div class="page-header">
      <span class="image-schedule"></span>
      <h2>Schedule</h2>
  </div>
  {% for s in site.data.ordered_talks %}
  <div class="row">
    <div class="col-md-1 col-xs-12">
        <div class="gray">{{ s.from }}</div>
    </div>
    <div class="col-md-11 col-xs-12">
        {% if s.break %}
          <span class="black">{{ s.title }}</span>
        {% else %}
          <a href="{{ s.url }}" class="black">{{ s.title }}</a>
        {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
<div class="section buy">
  <div class="page-header">
      <span class="image-buy"></span>
      <h2 id=tickets>Buy Tickets</h2>
  </div>
  <div class="row">
      <p class=general>Early bird tickets sold out in less than 24 hours!</p>
      <div id='tito-register-form'></div>
      <script src='https://ti.to/dockerconf/dockerconf.js?version=3' type='text/javascript'></script>
      <link rel="stylesheet" type="text/css" href='https://ti.to/ultimateconf/2013.css?version=4' />
  </div>
</div>
