---
layout: default
title: Welcome
---

<div class="section where">
  <div class="page-header">
      <span class="image-where"></span>
      <h1>HELLO TIM!!</h1>
      <h2>Where?</h2>
  </div>
  <div class="row map">
     <div class="col-md-8 onlypc">
         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2482.4382716433815!2d-0.08167005026245111!3d51.52352082447669!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761cb02bc355a5%3A0x15cb3a1ac968c5d6!2sShoreditch+Works!5e0!3m2!1sen!2s!4v1397139310292" frameborder="0" style="border:0"></iframe>
     </div>
     <div class="col-md-4 col-sm-12 col-xs-12 map-details">
         <p class="gray">Shoreditch Works</p>
         <p>32-38 Scrutton St,</p>
         <p>London,</p>
         <p class="gray">EC2A 4RQ</p>
     </div>
  </div>
  <div class="row directions">
     <div class="col-md-12">
      <h5 class="onlypc">How to get there</h5>
      <p class="gray"><span class="black">Tube</span>: Old Street Station</p>
      <p class="gray"><span class="black">Bus</span>: 55, 243, N35, N55</p>
      <p class="gray"><span class="black">Overground</span>: Shoreditch High Street</p>
    </div>
  </div>
</div>
<div class="section when">
  <div class="page-header">
      <span class="image-when"></span>
      <h2>When?</h2>
  </div>
  <div class="row">
      <div class="col-md-12">
          <p class="black">12th September 2014</p>
          <p class="gray">9:00 - 18:00</p>
      </div>
  </div>
</div>
<div class="section who">
  <div class="page-header">
      <span class="image-who"></span>
      <h2>Who?</h2>
  </div>
  {% assign slice_set = site.data.ordered_talks | each_slice(3) %}
  {% for slice in slice_set %}
  <div class="row">
      {% for talk in slice %}
      <div class="col-md-3">
          <div class="speaker">
              <a href="{{ talk.url}}"><img width="128" height="128" src="{{ talk.image_url }}" alt="{{ talk.speaker_name }}" class="img-circle" /></a>
              <p><a href="{{ talk.url}}">{{ talk.speaker_name }}</a></p>
          </div>
      </div>
      {% endfor %}
  </div>
  {% endfor %}
</div>
<div class="section schedule">
  <div class="page-header">
      <span class="image-schedule"></span>
      <h2>Schedule</h2>
  </div>
  {% for s in site.data.ordered_talks %}
  <div class="row">
    <div class="col-md-1 col-xs-12">
        <div class="gray">{{ s.from }}</div>
    </div>
    <div class="col-md-11 col-xs-12">
        <a href="{{ s.url }}" class="black">{{ s.talk_title }}</a>
    </div>
  </div>
  {% endfor %}
</div>
