<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DockerConf London | {{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
      <div class="container">
          <div class="row header">
              <div class="col-md-4 padded">
                  <div>
                      <span class="blue-paragraph">12</span>
                      <span class="grey-paragraph-upper">th</span>
                  </div>
                  <div class="white-paragraph">
                    September 
                  </div>
                  <div class="grey-paragraph">2014</div>
              </div>
              <div class="col-md-4">
                  <img src="/images/image-top.jpg" alt="Docker Meetup London" />
              </div>
              <div class="col-md-4 padded">
                  <div class="blue-paragraph">London</div>
                  <div class="white-paragraph">32-28</div>
                  <div class="white-paragraph">Scrutton St.</div>
                  <div class="grey-paragraph">Shoreditch Works</div>
              </div>
          </div>
          <div class="row main">
              <div class="section">
                  <div class="page-header">
                      <span class="image-where"></span>
                      <h2>Where?</h2>
                  </div>
              </div>
          </div>
      </div>
  </body>
</html>
