<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DockerConf London | {{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
      <div class="container">
          <div class="row header">
              <div class="col-md-4 padded">
                  <div>
                      <span class="blue-paragraph">12</span>
                      <span class="grey-paragraph-upper">th</span>
                  </div>
                  <div class="white-paragraph">
                    September 
                  </div>
                  <div class="grey-paragraph">2014</div>
              </div>
              <div class="col-md-4">
                  <img src="/images/image-top.jpg" alt="Docker Meetup London" />
              </div>
              <div class="col-md-4 padded">
                  <div class="blue-paragraph">London</div>
                  <div class="white-paragraph">32-28</div>
                  <div class="white-paragraph">Scrutton St.</div>
                  <div class="grey-paragraph">Shoreditch Works</div>
              </div>
          </div>
          <div class="row main">
              <div class="section where">
                  <div class="page-header">
                      <span class="image-where"></span>
                      <h2>Where?</h2>
                  </div>
                  <div class="row map">
                     <div class="col-md-8">
                         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2482.4382716433815!2d-0.08167005026245111!3d51.52352082447669!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761cb02bc355a5%3A0x15cb3a1ac968c5d6!2sShoreditch+Works!5e0!3m2!1sen!2s!4v1397139310292" width="690" height="305" frameborder="0" style="border:0"></iframe>
                     </div>
                     <div class="col-md-4 map-details">
                         <p class="gray">Shoreditch Works</p>
                         <p>32-38 Scrutton St,</p>
                         <p>London,</p>
                         <p class="gray">EC2A 4RQ</p>
                     </div>
                  </div>
              </div>
          </div>
      </div>
  </body>
</html>
