---
layout: default
---

<div class="section sponsor-details">
  <div class="page-header">
      <h1>{{ page.name }}</h1>
  </div>

  <div class="row">
      <div class="col-md-4 col-sm-12 text-center sponsor-logo">
          {% if page.link_url %}
              <a href="{{ page.link_url }}" rel="{{ page.name }}">
                <img src="{{ page.image_url }}" alt="{{ page.name }}" />
              </a>
          {% else %}
            <img src="{{ page.image_url }}" alt="{{ page.name }}" />
          {% endif %}
      </div>
      <div class="col-md-8 col-sm-12 ">
          {{ content }}
      </div>
  </div>
</div>

